
<p>Cześć {{ name }},</p>
<p>Witaj w systemie GIGATEL ERP.</p>
<p>Kliknij poniższy link, aby potwierdzić swoje konto i dokończyć rejestrację:</p>
<p>
    <a href="{{ url }}">Potwierdź konto</a>
</p>
<p>Jeśli to nie Ty zakładałeś konto, zignoruj tę wiadomość.</p>
